<table id="key-help">
    <tbody>
        <tr>
            <td><code>p</code></td>
            <td>choose the first value in the table</td>
        </tr>
        <tr>
            <td><code>&uarr;</code> <code>&darr;</code></td>
            <td>navigate up and down between values</td>
        </tr>
        <tr>
            <td><code>l</code></td>
            <td>see exemplar on the original page</td>
        </tr>
        <tr>
            <td><code>s</code></td>
            <td>add the selected value to the index</td>
        </tr>
        <tr>
            <td><code>option + s</code></td>
            <td>add lowercase version of the selected value to the index</td>
        </tr>
        <tr>
            <td><code>w</code></td>
            <td>open a modal window to supply a value</td>
        </tr>
        <tr>
            <td><code>space</code></td>
            <td>skip the current cluster</td>
        </tr>
        <tr>
            <td><code>j</code></td>
            <td>remove the last value from the index for editing</td>
        </tr>
        <tr>
            <td><code>shift + enter</code></td>
            <td>save index terms</td>
        </tr>
        <tr>
            <td><code>h</code></td>
            <td>launch this help window</td>
        </tr>
    </tbody>
</table>
