<table id="key-help">
    <tbody>
        <tr>
            <td><code>p</code></td>
            <td>choose the first value in the table</td>
        </tr>
        <tr>
            <td><code>&uarr;</code> <code>&darr;</code></td>
            <td>navigate up and down between values</td>
        </tr>
        <tr>
            <td><code>l</code></td>
            <td>see exemplar on the original page</td>
        </tr>
        <tr>
            <td><code>s</code></td>
            <td>add the selected value to the index</td>
        </tr>
        <tr>
            <td><code>option + s</code></td>
            <td>add lowercase version of the selected value to the index</td>
        </tr>
        <tr>
            <td><code>w</code></td>
            <td>open a modal window to supply a value</td>
        </tr>
        <tr>
            <td><code>space</code></td>
            <td>skip the current cluster</td>
        </tr>
        <tr>
            <td><code>j</code></td>
            <td>remove the last value from the index for editing</td>
        </tr>
        <tr>
            <td><code>shift + enter</code></td>
            <td>save index terms</td>
        </tr>
        <tr>
            <td><code>h</code></td>
            <td>launch this help window</td>
        </tr>
    </tbody>
</table>
<div>
<h4 class="modal-title"> Content Rules </h4>
<ul>
<li>Authorized form should be in lowercase except proper nouns.</li>
<li>Use "with" to combine multiple components of dishes instead of punctuation. For more than one "with" item, we follow standard grammatical rules for lists (including Oxford comma).</li>
<li>Units of measures should come after the end of the dish and after a comma. Number should be spelled out. This includes halves, portions, etc.</li>
<li>We prefer natural language order.</li>
<li>We prefer modern spellings over archaic spellings.</li>
<li>We add diacritics if they are missing.</li>
<li>We remove lists of ingredients.</li>
<li>Drop any included prices.</li>
<li>Remove punctuation other than commas.</li>
<li>Expand abbreviations.</li>
<li>Place name and then preparation.</li>
</ul>
</div>
